########################################
# CampusEnroll HA - Local .env (Example)
# Copy to .env and adjust as needed
########################################

# Postgres
POSTGRES_USER=campus
POSTGRES_PASSWORD=campus_password
POSTGRES_DB=campusenroll
POSTGRES_PORT=5432

# Redis
REDIS_PORT=6379

# RabbitMQ
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

# Prometheus
PROMETHEUS_PORT=9090

# Grafana
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

